[submodule "UnitTests/External/googletest"]
	path = UnitTests/External/googletest
	url = https://github.com/google/googletest.git
[submodule "Benchmark/External/Celero"]
	path = Benchmark/External/Celero
	url = https://github.com/DigitalInBlue/Celero.git
